<head>
    {% if site.google_tag_manager %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_tag_manager }}"></script>
    <script>window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date()); gtag('config', '{{ site.google_tag_manager }}', { cookie_domain: 'blog.florius.com.ar', cookie_flags: 'SameSite=None;Secure' });</script>
    {% endif %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link rel="dns-prefetch" href="//maxcdn.bootstrapcdn.com">
    <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" type="application/manifest+json; charset=utf-8" href="{{ "/site.webmanifest" | relative_url }}" />
    {% if page.meta_robots %}<meta name="robots" content="{{ page.meta_robots }}">
    {% else %}<meta name="robots" content="all">{% endif %}
    <meta name="author" content="{{ site.author }}">
    {% if site.fb_page %}<meta property="fb:pages" content="{{ site.fb_page_id }}" />{% endif %}
    {% if page.categories %}<meta name="keywords" content="{{ page.categories | join: ', ' }}">{% endif %}
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.title }}" href="{{ "/feed.xml" | relative_url }}" />
    {% seo %}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/pixyll.css" | relative_url }}?{{ site.time | date: "%Y%m%d%H%M" }}" type="text/css">

    <!-- Fonts -->
    <link href="//fonts.googleapis.com/css?family=Karla|Montserrat&amp;display=swap" rel="stylesheet">
    {% if site.show_social_icons or site.show_sharing_icons %}
    <script src="//kit.fontawesome.com/88434a0a24.js" crossorigin="anonymous" async></script>
    {% endif %}

    <!-- MathJax -->
    {% if site.enable_mathjax %}
    <script type="text/javascript" async
        src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    {% endif %}

    <!-- Verifications -->
    {% if site.google_verification %}
      <meta name="google-site-verification" content="{{ site.google_verification }}" />
    {% endif %}
    {% if site.bing_verification %}
      <meta name="msvalidate.01" content="{{ site.bing_verification }}" />
    {% endif %}

    <!-- Icons -->
    <link rel="shortcut icon" href="{{ "/favicon.ico" | relative_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% asset favicon.png @path magick:resize='180x180' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% asset favicon.png @path magick:resize='32x32' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% asset favicon.png @path magick:resize='16x16' %}"/>

    <meta name="theme-color" content="#000000">

    {% if site.google_analytics %}
    <script type="text/javascript">
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
       ga('create', '{{ site.google_analytics }}', 'auto');
       ga('send', 'pageview');
    </script>
    {% endif %}
</head>
