<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link rel="dns-prefetch" href="//maxcdn.bootstrapcdn.com">
    <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" type="application/manifest+json; charset=utf-8" href="{{ "/site.webmanifest" | relative_url }}" />
    {% if page.meta_robots %}<meta name="robots" content="{{ page.meta_robots }}">
    {% else %}<meta name="robots" content="all">{% endif %}
    <meta name="author" content="{{ site.author }}">
    {% if site.fb_page %}<meta property="fb:pages" content="{{ site.fb_page_id }}" />{% endif %}
    {% if page.categories %}<meta name="keywords" content="{{ page.categories | join: ', ' }}">{% endif %}
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.title }}" href="{{ "/feed.xml" | relative_url }}" />
    {% seo %}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/pixyll.css" | relative_url }}?{{ site.time | date: "%Y%m%d%H%M" }}" type="text/css">

    <!-- Verifications -->
    {% if site.google_verification %}
      <meta name="google-site-verification" content="{{ site.google_verification }}" />
    {% endif %}
    {% if site.bing_verification %}
      <meta name="msvalidate.01" content="{{ site.bing_verification }}" />
    {% endif %}

    <!-- Icons -->
    <link rel="shortcut icon" href="{{ "/favicon.ico" | relative_url }}">
    <link rel="apple-touch-icon" sizes="512x512" href="/assets/image/favicon.png" />
    <link rel="icon" type="image/png" sizes="512x512" href="/assets/image/favicon.png" />

    <meta name="theme-color" content="#000000">
</head>
